<!--      <header>
        <div class="header">
          <div class="barraTop">
            <div class="hdLogo btEl">
              <img src="/./img/logo.png">
            </div>
            <div class="profPic btEl">
              <div class="edit">
                <img src="/./img/editHomeLogo.svg"></img>
              </div>
              <img src="/./img/avatar.png">
            </div>
            <div class="support btEl text-center">
              <img src="/./img/soporte-icon.svg">
              <p class="poppinsText" style="color: #fff; font-size: .6rem;">Soporte</p>
            </div>
          </div>
          <div class="hdBody text-center">
            <p class="poppinsLabel" style="color: #fff; font-size: .8rem;">¡Hola!</p>
            
            <div class="userStatus">
              <div class="sPoint"></div>
              <p class="poppinsText" style="color: #fff; font-size: .85rem;"><b>Skr0to</b></p>
            </div>

            <p class="poppinsLabel" style="color: #fff; font-size: .8rem;">Saldo disponible</p>
            <p class="poppinsBalance amaranth-bold" style="color: #fff; font-size: 2.5rem;"><b>$ 🖕🏾</b></p>
          </div>
          <div class="barraBottom">
            <div class="version bbEl">
              <p class="versionText poppinsLabel" style="color: #fff; font-size: .6rem; opacity: .6;">v 666</p>
            </div>
            <div class="urbicoins bbEl">
              <img src="/./img/coinImage.png">
              <p class="urbicoinsText poppinsLabel" style="color: #fff; font-size: .7rem;">999 Urbicoins</p>
            </div>
            <div class="ubicacion bbEl">
              <p class="ubicacionText poppinsText" style="color: #fff; font-size: .6rem;"><b>Monterrey Nuevo León</b></p>
              <img src="/./img/locationIcon.svg">
            </div>
          </div>
        </div>
      </header>-->
      <header>
        <div class="accInfo">
          <div class="profPic">
            <div class="sPoint"></div>
            <img src="/./img/avatarH.png">
          </div>
          <div class="profTxt" style="font-family: LouisGeorge;">
            <p class="pName"><b>¡Hola! <span>Skr0to</span></b></p>
            <p class="pLoct"><i class="bi bi-geo-alt-fill"></i> <b>Monterrey, NL</b> <i class="bi bi-chevron-down arrowD"></i>
          </div>
          <div class="support">
            <img src="/./img/supportMessge.svg">
          </div>
        </div>
        <br>
          <div class="balLoc">
            <div class="balInfo">
              <p style="font-family: LouisGeorge; font-size: .8rem"><b>Saldo Disponible</b></p>
              <div class="balance">
                <p style="font-family: BrandingSB; font-size: 2.5rem;">$ 🖕🏾 </p>
                <div class="recharge">
                  <img src="/./img/plusBtn.svg">
                </div>
              </div>
              <div class="urbicoins">
                <img src="/./img/coinImage.png">
                <p style="font-family: LouisGeorge; font-size: .8rem;"><b>999 Urbicoins</b></p>
              </div>
            </div>
            <div class="locInfo">
              <div class="tag">
                <img src="/./img/activateYourGPS.png">
              </div>
              <div class="point">
                <img src="/./img/locationRound.png">
              </div>
            </div>
          </div>
          <br>
          <div class="catSel">
            <div class="pub">
              <img class="pubImg" src="/./img/publicSelect.png">
              <p><b>Red Pública</b></p>
            </div>
            <div class="priv">
              <img class="privImg" src="/./img/privateSelect.png">
              <p><b>Privado</b></p>
            </div>
          </div>
      </header>