      <header>
        <div class="accInfo">
          <div class="profPic">
            <div class="sPoint"></div>
            <img src="/./img/avatarH.png">
          </div>
          <div class="profTxt" style="font-family: LouisGeorge;">
            <p class="pName"><b>¡Hola! <span>Skr0to</span></b></p>
            <p class="pLoct"><i class="bi bi-geo-alt-fill"></i> <b>Monterrey, NL</b> <i class="bi bi-chevron-down arrowD"></i>
          </div>
          <div class="support">
            <img src="/./img/supportMessge.svg">
          </div>
        </div>
        <br>
          <div class="balLoc">
            <div class="balInfo">
              <p style="font-family: LouisGeorge; font-size: .8rem"><b>Saldo Disponible</b></p>
              <div class="balance">
                <p style="font-family: BrandingSB; font-size: 2.5rem;">$ 🖕🏾 </p>
                <div class="recharge">
                  <img src="/./img/plusBtn.svg">
                </div>
              </div>
              <div class="urbicoins">
                <img src="/./img/coinImage.png">
                <p style="font-family: LouisGeorge; font-size: .8rem;"><b>999 Urbicoins</b></p>
              </div>
            </div>
            <div class="locInfo">
              <div class="tag">
                <img src="/./img/activateYourGPS.png">
              </div>
              <div class="point">
                <img src="/./img/locationRound.png">
              </div>
            </div>
          </div>
          <br>
          <div class="catSel">
            <div class="pub">
              <img class="pubImg" src="/./img/publicSelect.png">
              <p><b>Red Pública</b></p>
            </div>
            <div class="priv">
              <img class="privImg" src="/./img/privateSelect.png">
              <p><b>Privado</b></p>
            </div>
          </div>
      </header>